@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:400,700,900|Open+Sans:400,700,900|Raleway:400,700,900);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css);

body {
  background: url("../img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

#cupom {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  border: 5px solid #fff;
}

input[type="text"],textarea[type="text"]::-webkit-input-placeholder {
    color: white;
    font-size: 16px;
}
input[type="text"],textarea[type="text"]:-moz-placeholder {
    color: white;
    font-size: 16px;
}
input[type="text"],textarea[type="text"]:-ms-input-placeholder {
    color: white;
    font-size: 16px;
}

input[type="email"],textarea[type="email"]::-webkit-input-placeholder {
    color: white;
    font-size: 16px;
}
input[type="email"],textarea[type="email"]:-moz-placeholder {
    color: white;
    font-size: 16px;
}
input[type="email"],textarea[type="email"]:-ms-input-placeholder {
    color: white;
    font-size: 16px;
}
input[type="date"],textarea[type="date"]::-webkit-input-placeholder {
    color: white;
    font-size: 16px;
}
input[type="date"],textarea[type="date"]:-moz-placeholder {
    color: white;
    font-size: 16px;
}
input[type="date"],textarea[type="date"]:-ms-input-placeholder {
    color: white;
    font-size: 16px;
}

.logosize {
  max-width: 490px;
}

form {
  position: absolute;
  max-width: 490px;
  margin: 0 auto;
  bottom: 0;
  left: 50%;
  margin-left: -250px;
}

form > div {
  position: relative;
  border-bottom: 1px solid #ccc;
}
form > div > label {
  color: #fff;
  position: absolute;
  top: 22px;
  left: 20px;
}

form > div > input[type="date"] {
  padding: 20px 20px 20px 20px !important;
}

form > div > input[type="text"],
form > div > input[type="email"],
form > div > input[type="date"] {
  width: 100%;
  border: 0;
  padding: 20px 20px 20px 50px;
  background: transparent;
}

form > div > input[type="text"]:focus,
form > div > input[type="email"]:focus,
form > div > input[type="date"]:focus {
  outline: 0;
}
form > div > input[type="text"]:focus + label,
form > div > input[type="email"]:focus + label
form > div > input[type="date"]:focus + label{
  opacity: 0;
}

form > div > input[type="text"]:valid + label,
form > div > input[type="email"]:valid + label,
form > div > input[type="date"]:valid + label {
  opacity: 0;
}
form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown){
  background: pink;
}
form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label{
  opacity: 0;
}
form > div > input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
form > div > input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .requirements{
  max-height: 200px;
  padding: 0 30px 20px 50px;
}
form > div .requirements {
  padding: 0 30px 0 50px;
  color: #999;
  max-height: 0;
  -webkit-transition: 0.28s;
  transition: 0.28s;
  overflow: hidden;
  color: red;
  font-style: italic;
}
form input[type="submit"] {
  width: 45%;
  margin: 20px 10px;
  color: white;
  border: 0;
  padding: 20px;
  font-size: 1.2rem;
  background: transparent !important;
}

form input[type="button"] {
  width: 45%;
  margin: 20px 10px;
  color: white;
  border: 0;
  padding: 20px;
  font-size: 1.2rem;
  background: transparent !important;
}

.tokenbutton {
  width: 100% !important;
  margin-left: 0 !important;
  background: transparent !important;
}

.tokenfield {
  background-color: #000 !important;
  border-radius: 20px !important;
}

.tokendiv {
  border-bottom: none;
}

div .tokenfield {
  border-bottom: 0 !important;
}

* {
  box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 360px) {
  body {
    background: url("../img/bgmobile.png") no-repeat center center fixed;
  }
  .logosize {
    max-width: 200px;
  }
  form {
    position: absolute;
    max-width: 200px;
    margin: 0 auto;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
  }
  form input[type="submit"] {
    height: 45px;
    padding: 5px;
    width: 200px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }

  form input[type="button"] {
    height: 45px;
    padding: 5px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  body {
    background: url("../img/bgmobile.png") no-repeat center center fixed;
  }
  .logosize {
    max-width: 300px;
  }
  form {
    position: absolute;
    max-width: 300px;
    margin: 0 auto;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
  }
  form input[type="submit"] {
    width: 40%;
    margin: 5px 5px;
    color: white;
    border: 0;
    padding: 5px;
    font-size: 1.2rem;
  }

  form input[type="button"] {
    width: 50%;
    margin: 5px 5px;
    color: white;
    border: 0;
    padding: 5px;
    font-size: 1.2rem;
  }

}
